html {
    font-size: 16px; /* Tamaño de fuente base para rem */
}


body {
    font-family: Arial, sans-serif;
    color: rgb(110, 176, 154);
    margin: 0;
    padding: 0;
    background-color: #44486d;
    font-size: 20px; /* Cuando no se delcaran los pixeles pero se usa em se toma 16px por defecto */
}
h1 {
    font-size: 2.5rem; /* 2.5 veces el tamaño de la raíz (16px * 2.5 = 40px) */
    margin-bottom: 1rem; /* 1 vez el tamaño de la raíz (16px * 1 = 16px) */
    text-align: center;
    font-size: 3.5em; /* Por 3.5 veces el tamaño del elemento padre (20px * 3.5 = 70px) */
}
a {
    font-size: 1.5em; /* 1.5 veces el tamaño del elemento padre (40px * 1.5 = 60px) */
    color: #ffcc00;
    text-decoration: none;
    display: block; 
    margin: 0px auto;
    padding: 20px;
    text-align: center;
    margin-top: 2em; /* 2 veces el tamaño del elemento padre (40px * 2 = 80px) */
}

a:hover { /* Efecto al pasar el mouse */
    color: #ff9900;
    padding: 0.5em; /* 0.5 veces el tamaño del elemento padre (40px * 0.5 = 20px) */
    background-color: #333366;
    border-radius: 5px;
}

h1:hover {
    color: #000000;
    padding: 0.5em; /* 0.5 veces el tamaño del elemento padre (40px * 0.5 = 20px) */
    background-color: #8ACE00;
    border-radius: 5px;
}

#padre {
    font-size: 20px; /* Cambiamos el tamaño de fuente del elemento padre a 20px */
}

h2 {
    font-size: 4em; /* 4 veces el tamaño del elemento padre (20px * 4 = 80px) */
    
}
h3 {
    font-size: 5.5em; /* 5 veces el tamaño del elemento padre (20px * 5 = 100px) */

}

li {
    font-size: 30rem; /* Relativo a root (el html) (16px * 30 = 480px) */
}
